
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
.env
.env.*
*.env
.pytest_cache/
.mypy_cache/
.cache/

# Data & artifacts
data/
artifacts/
models/

# VSCode / IDE
.vscode/
.idea/

# Mac/OS
.DS_Store

# Sonar
.scannerwork/

# Docker
*.log
feast_repo/
tests/
